@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 임포트 */


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 0.3s ease-in-out; */
  }

  @font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'HakgyoansimDunggeunmisoTTF-R';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  html,
  body,
  #__next {
    width: 100%;
    font-family: 'HakgyoansimDunggeunmisoTTF-R', sans-serif;
  }

}
